@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Approval Pending";
}

<h1>@ViewData["Title"]</h1><br>


<h2>Your account is pending approval</h2>
<p>An account administrator must approve Your account before Your can log in.</p>
@* @{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
} *@

