@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Approval Pending";
}

<h1>@ViewData["Title"]</h1><br>


<h2>Your account is pending approval</h2>
<p>An account administrator must approve Your account before Your can log in.</p>


